/* Base */
:root {
    --clr-primary: #29a396;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Nunito", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    min-height: 100vh;
    background: radial-gradient(#111, #071a1a);
    color: #fff;
    overflow-x: hidden;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header,
.section {
    width: 100%;
    padding: 40px 0;
    overflow: hidden;
}


.section::before {
    content: "";

    position: absolute;
    width: 400px;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 0;
}

.header::after {
    left: -200px;
}

.header::before {
    right: -200px;
}

.mb {
    margin-bottom: 30px;
}

.mt {
    margin-top: 20px;
}

.section {
    background: #1d1f1e;
    position: relative;
    padding: 80px 0;
}

.section::after {
    left: -200px;
}

.section::before {
    width: 600px;
    right: -200px;
}

.section:nth-child(even) {
    background: #141615;
}

.section:nth-child(even)::after,
.section:nth-child(even)::before {
    display: none;
}

.primary {
    font-size: 35px;
    font-weight: 700;
}

.secondary {
    font-size: 25px;
    font-weight: 700;
}

.tertiary {
    font-size: 15px;
}

/* End Base */

/* Menu */
.menu {
    width: 100%;
    background: linear-gradient(to right, #0e0e0e 70%, #142d2a);
    padding: 12px 0;
}

.menu .container {
    justify-content: space-between;
}

.mobile-btn {
    display: none;
}

.logo {
    cursor: pointer;
}

.logo img {
    width: 80px;
    height: auto;
}

.nav {
    list-style: none;
}

.nav-item {
    display: inline-block;
    margin-right: 30px;
    font-size: 18px;
    font-weight: 400;
}

.nav-item a {
    text-decoration: none;
    color: #fff;
}

.nav-item:hover a {
    color: #29a396;
    transition: 0.3s linear;
}

.nav-item:last-of-type {
    margin-right: 0;
}

/* End Menu */

/* Buttons */
.btn {
    padding: 10px 28px;
    background: var(--clr-primary);
    border-radius: 40px;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    color: #fff;
    display: inline-block;
}

.btn:hover {
    background: #165f56;
    transition: 0.3s linear;
}

.btn-2 {
    font-size: 35px;
    text-decoration: none;
    color: #ccc;
    transition: 0.3s linear;
}

.btn-2:hover {
    color: #29a396;
}

/* End Buttons */

/* Header */
.text {
    width: 60%;
}

.visual {
    width: 40%;
}

.visual img {
    width: 100%;
}

.header h1 {
    font-size: 70px;
    font-weight: 700;
}

.header h1 span {
    color: var(--clr-primary);
}

/* End Header */

.section:nth-child(even) .visual {
    margin-right: 30px;
}

/* Trainer */
#trainer {
    text-align: center;
}

.trainer img {
    border-top-left-radius: 80px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 80px;
    border-bottom-left-radius: 20px;
    margin-bottom: 10px;
    outline: 2px solid #fff;
    padding: 14px;
    image: center;
}

.trainer .mb {
    margin-bottom: 10px;
}

/* End Trainer */

/* Footer */
.footer {
    padding: 30px 0;
    border-top: 1px solid #fff;
    text-align: right;
}

/* End Footer */